:root {
    --main-bg-color: #009d63;
    --main-text-color: #2D635E;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  /* Style for the description container */
.description {
  position: relative;
  font-size: 12px;
  color: #555;
}

/* Short description only visible by default */
.short-description {
  display: block;
  max-height: 3em; /* Limit the height for neat truncation */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Full description hidden initially */
.full-description {
  display: none;
  padding-top: 5px;
}

/* Button to show more or less text */
.toggle-description {
  color: #007bff;
  background: none;
  border: none;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
}

/* When the user clicks "Read More", show the full description */
.description.show-full .short-description {
  display: none;
}

.description.show-full .full-description {
  display: block;
}

.description.show-full .toggle-description {
  display: none;
}
